


ul.menu {
    z-index: 1200;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li.menu {
    text-decoration-color: #ffffff;
    font: bold 13px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 10px 30px;
    background: #2490CC;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
ul li.menu:hover {
    background: #C0C0C0;
    color: #fff;
}
ul li ul.menu {
    padding: 0;
    position: absolute;
    top: 38px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul li ul li.menu { 
    background: #fff;
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    font-size: 10px;
}
ul li ul li.menu:hover { background: #666; }
ul li.menu:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
